body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logged-as {
    color: #f8f9fa;
    cursor: pointer;
    position: relative;
}

ul.dropdown {
    position: absolute;
    top: 50%;
    left: calc(50% - 75px);
    padding: 0;
    opacity: 0;
    transition: 200ms;
    list-style: none;
}

ul.dropdown li {
    width: 150px;
    padding: 0.5em 0;
    text-align: center;
    background: #f8f9fa;
    color: #343a40;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

ul.dropdown li:hover {
    background: #eee;
}

ul.dropdown a {
    text-decoration: none;
}

#cart {
    /* display: flex; */
    /* justify-content: center; */
    max-width: 65%;
    margin: 0 auto;
}

#cart > p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

#cart-products {
    padding: 0px;
}

#cart-products .cart-product {
    display: flex;
    align-items: center;
}

#cart-products .cart-product #product-left-info {
    flex-grow: 1;
    min-width: 500px;
}

#cart-products .cart-product #product-right-info {
    /* min-width: max-content; */
    min-width: 200px;
}

#cart-products .product-count-input {
    width: 50px;
    height: 30px;
}

#cart-products li {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
}

#cart-products img {
    min-width: 100px;
    max-width: 100px;
    margin-right: 20px;
}

#cart-products .badge {
    position: absolute;
    top: -9px;
    right: -8px;
    font-size: 15px;
}

.product-unitprice {
    text-align: center;
}

#cart-info {
    width: 230px;
    width: max-content;
    list-style: none;
}

.logged-as:hover ul.dropdown {
    top: 90%;
    opacity: 1;
}

.jumbotron,
.card-body,
.container,
.site-header {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

.jumbotron .display-4 {
    font-weight: bold;
}

.jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53c0fb;
    background: url('../img/cover_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
    font-size: 38px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.site-header > .container > a {
    padding: 0 0.5rem !important;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    color: white;
    text-decoration: none;
    transition: 0.15s;
}

.site-header > .container > a:hover {
    border-bottom: 5px solid white;
}

.light-text {
    color: white;
}

.site-header .dropdown-menu a {
    color: black;
}

.dropzone {
    border: 2px dashed #0087f7;
    border-radius: 5px;
    background: white;
}

.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}

.flippedIcon {
    transform: scaleY(-1);
}

.fas {
    transition: 200ms;
}

#search {
    display: initial;
    width: initial;
}

#prod-list-container h2 {
    margin: 30px 0;
    text-align: center;
}

.list-group a {
    text-decoration: none;
}
