html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.alert {
    width: 100%;
    max-width: 500px;
}

.alert h4 {
    margin: 0;
}

.signin {
    width: 100%;
    max-width: 430px;
    padding: 50px 25px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1),
        inset 0px 2px 5px rgba(0, 0, 0, 0.02);
}

.signin button,
.signin input[type='button'] {
    position: relative;
}

.signin label,
.signin button,
.signin input[type='button'] {
    margin: 10px 0;
}

.signin input,
.signin button,
.signin input[type='button'] {
    display: block;
    border: 1px solid #bbb;
    border-radius: 2px;
    padding: 5px 10px;
    background: white;
    box-shadow: 0px 0px 2px transparent;
    transition: 200ms;
    color: #444;
    outline: none;
}

.signin input:focus,
.signin button:hover,
.signin input[type='button']:hover {
    box-shadow: 0px 0px 2px #333;
    color: #111;
}

.signin button,
.signin input[type='button'] {
    margin: 0 auto;
    margin-top: 15px;
}
